### data files

2750/
__MACOSX/
miniImagenet3/
miniImagenet3.zip
ISIC2018_Task3_Training_GroundTruth.zip
ISIC2018_Task3_Training_GroundTruth.csv
ISIC2018_Task3_Training_Input.zip
ISIC2018_Task3_Training_GroundTruth/
ISIC2018_Task3_Training_Input/
dataset/
env/
content/
__pycache__/
Data_Entry_2017.csv
logs/
Meta-Fine-Tuning/
get-pip.py
logs2.zip
logs.zip
logs copy/
logs copy 2/
oldlogs/
vscode/
filelists/CUB/CUB_200_2011/
filelists/CUB/
filelists/
filelists/CUB/attributes.txt
filelists/CUB/CUB_200_2011/bounding_boxes.txt
filelists/CUB/CUB_200_2011/classes.txt
filelists/CUB/attributes.txt
datasets/backups
logs_original/
logs_original_original/
og/
logs_21oct/
logs_backup22oct/
logs 24octbackup/
logs_backup/
